.addTaskButton
{
    background-color: rgb(188, 114, 114);
    border-radius: 2.5px;
    font-size: x-large;
    cursor: pointer;
    position: relative;
    left: 45%;
    margin: 8% 0%;
}
.DeleteTasks
{
    height: 10%;
    width: auto;
    border-radius: 5px;
    border: none;
    padding: 1%;
    position: relative;
    top:1rem;
    cursor: pointer;
}
.itemList
{
    background-color: aquamarine;
    margin: 0% 10%;
    border-radius: 2.5rem;
    text-align: left;
    padding-left: 3%;
}
.ItemsListCSS
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(9, 153, 74);
    margin: 0% 5%;
}